name: Test
on:
  pull_request:
  push: { branches: master }

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-latest
    env: 
      LC_ALL: en_US.UTF-8 # consistent sort order
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run shellcheck tests
      run: shellcheck respec setup
    - name: Install watchly dummy
      run: |
        echo -e "#!/usr/bin/env bash\necho 'watchly-stub'" | sudo tee "/usr/local/bin/watchly" > /dev/null
        sudo chmod +x /usr/local/bin/watchly
    - name: Run approval tests
      run: test/approve

  ubuntu_setup:
    name: Setup on Ubuntu
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run setup
      run: ./setup
    - name: Test setup artifacts
      run: test/setup_artifacts

  macos_setup:
    name: Setup on macOS
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Upgrade the outdated bash and install completions
      run: brew install bash bash-completion
    - name: Run setup
      run: ./setup
    - name: Test setup artifacts
      run: test/setup_artifacts

